body{
  background-color:indianred
}
.topnav{
  overflow: hidden;
  background-color: coral;
  padding: 7px;
  text-align: center;
}
.topnav a{
  color: #cf0202;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover{ 
  background-color: black;        
  color: wheat;       
}      
.topnav a.active{      
  background-color: blueviolet;          
  color: yellowgreen      
}     
.font{         
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;     
}
